* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_logo {
  width: 5%;
  height: 5%;
}
/* .card-img-top {
  width: auto;
  height: auto;
  object-fit: contain;
} */

/* .admin_img {
  width: 100px;
  object-fit: contain;
} */

.card-text {
  font-weight: bold;
}

.cart_img {
  width: 80px;
  height: 80px;
}
.card-img-top {
  width: 286px;
  height: 200px;
}
